body{
    text-align: center;
    font-family: sans-serif;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color:crimson;
    text-align: left;
    font-size:25px;
}

p{
    color:darkslategrey;
    text-align: left;
}

.container{
    border:1px solid black;
    padding:1em;
    margin:2em;
}

header{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color:rgb(163, 166, 168);
}

header ul{
    width:80%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    list-style:none;
    padding:0;
}

header a{
    text-decoration: none;
    color: rgb(65, 0, 139);
    font-weight: bolder;
}

li{
    padding:.3em;
}

li:hover{
    position:relative;
    top:-3px;
}