*{
    box-sizing: border-box !important;
}


body{
    text-align: center;
    font-family: sans-serif;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    width:100%;
}

h1{
    color:crimson;
    text-align: left;
    font-size:25px;
}

p{
    color:darkslategrey;
    text-align: left;
}

.container{
    border:1px solid black;
    padding:1em;
    margin:2em;
}

header{
    padding:.3em;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    background-color:#22272e;
}

header ul{
    width:70%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    list-style:none;
    padding:1em;
    margin:.4em;
}

header a{
    font-size: larger;
    text-decoration: none;
    color:rgb(123, 51, 204);
    font-weight: bolder;
}

.logo{
    width:20%;
    max-width: 170px;
}

header li{
    height: 100%;
    padding:0em;
    transition: .2s;
    box-sizing: border-box;
}

header li:hover{
    text-decoration:underline 1px solid rgba(228, 13, 56, 0.445);
}

footer{
    font-size: larger;
    color:rgb(158, 14, 43);
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:rgb(163, 166, 168);
}